body{
    padding: 0;
    margin: 0;			
}

.full-container{
    width: 100%;
    display: flow-root;
    background: linear-gradient(180deg, #fffffe, #fff9b1);
}

.container{
    width: 98%;
    margin: 0 auto;
    display: block;
}

header{
    text-align: center;
}

header img
{
    width: 27%;
}

.shield{
    width: 30%;
    float: left;
}

.shield img{
    width: 100%;
}

.content{
    width: 70%;
    float: left;
}

.details{
    width: 100%;
    float: left;
}

.banner{
    width: 100%;
    float: left;
}

.banner img{
    width: 100%;
}

.models{
    width: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid red;
}

.models img{
    width: 100%;
}

.links{
    width: 100%;
    float: left;
    text-align: center;
}


.grid-container {
display: grid;
grid-template-columns: auto auto auto;
height: 70px;
width: 100%;

    background-color: red;
    color: white;
    line-height: 20px;
    margin-bottom: 25px;
}
.grid-item {
background-color:red;
padding: 40px;
font-size: 10px;
text-align: center;
}